body{
    background-color: rgb(243, 242, 231);
}
#value{
    margin-left: 10rem;
    padding-top: 10rem;  
    color: aqua;

}
h1{
    color: blue ;
}

.container{
    align-items: flex-end;
    margin-top: 2rem;
    margin-left: 400px;
    align-items: center;
}

@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

.custom-container {
  @include make-container();
}
.btn{
    max-width: 10rem;

}
.decrease{
    background-color: aqua;
}
.reset{
    background-color:green
}
.increase{
    background-color:red
}